{% extends '_layouts/base.njk' %}

{% block page_title %}{{ members.name }}{% endblock %}

{% block page_description %}{{ members.name }}{% endblock %}

{% block content %}
<article class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      {% block info %}
        <img src="img/img/members/freddie-mercury-color.jpg" alt="freddie mercury" class="img-fluid">
      {% endblock %}
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
      {% block story %}
        <h1>Member name goes here</h1>
        <p>Member text goes here</p>
      {% endblock %}
    </div>
  </div>
</article>
{% endblock %}