{% extends '_layouts/base.njk' %}

{% block page_title %}{{ members.name }}{% endblock %}

{% block page_description %}{{ members.name }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="members text-center">{{ members.name }}</h1>
      <h5 class="bio text-center">Intruments: {{ members.instruments }}<br>Tenure: {{ members.tenure }}<br>Birthplace: {{ members.birthplace }}<br> Date of Birth: {{ members.birthdate }}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      {% block info %}
        <img src="img/img/members/{{ members.image }}" alt="{{ members.name }} image" class="members img-fluid">
      {% endblock %}
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 offset-lg-1">
      {% block story %}
          <p class="members">{{ members.text | safe }}</p>
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}