{% extends '_layouts/detail-member.njk' %}

{% set members = queen.members[1] %}

{% block info %}
        <img src="img/img/members/brian-may-color.jpg" alt="brian may" class="img-fluid">
{% endblock %}

{% block story %}
  <h1>{{ members.name }}</h1>
  <h5>Intruments: {{ members.instruments }}<br>Tenure: {{ members.tenure }}<br>Birthplace: {{ members.birthplace }}<br> Date of Birth: {{ members.birthdate }}</h5>
  <p class="tab">Brian Harold May, CBE (born 19 July 1947) is an English musician, singer, songwriter and photographer. He is best known as the lead guitarist of the rock band Queen. In 2001, he was inducted into the Rock and Roll Hall of Fame as one of the band's members; and in 2018, he received the Grammy Lifetime Achievement Award which recognises "the most distinctive recordings in music history". He uses a home-built electric guitar called the Red Special. His compositions for the band include "We Will Rock You", "Tie Your Mother Down", "I Want It All", "Fat Bottomed Girls", "Flash", "Hammer to Fall", "Save Me", "Who Wants to Live Forever", and "The Show Must Go On".</p>
  <p class="tab">May was a co-founder of Queen with lead singer Freddie Mercury and drummer Roger Taylor, having previously performed with Taylor in the band Smile, which he had joined while he was at university. Within five years of their formation in 1970 and the recruitment of bass player John Deacon completing the lineup, Queen had become one of the biggest rock bands in the world with the success of the album A Night at the Opera and its song "Bohemian Rhapsody". From the mid-1970s until the early 1990s, Queen were an almost constant presence in the UK charts and played some of the biggest venues in the world, most notably giving an acclaimed performance at Live Aid in 1985. As a member of Queen, May became regarded as a virtuoso musician and he was identified with a distinctive sound created through his layered guitar work.</p>
  <p class="tab">Following the death of Mercury in 1991, Queen were put on hiatus for several years but were eventually reconvened by May and Taylor for further performances featuring other vocalists. In 2005, a Planet Rock poll saw May voted the 7th greatest guitarist of all time. He was ranked at No. 26 on Rolling Stone magazine's list of the "100 Greatest Guitarists of All Time". In 2012, May was ranked the 2nd greatest guitarist of all time by a Guitar World magazine readers poll.</p>
  <p>- Source: <a href="https://en.wikipedia.org/wiki/Brian_May">Wikipedia</a>
{% endblock %}