{% extends '_layouts/base.njk' %}

{% block page_title %}Discography{% endblock %}

{% block page_description %}The albumns of Queen{% endblock %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      {% block blurb %}
        <h1 class="disc">Discography</h1>
      {% endblock %}
    </div>
  </div>
  <div class="card-columns">
    <div class="card">
      <img class="card-img-top" src="img/img/discs/Queen_Queen.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Queen</h5>
        <p class="card-text">Release Date: 1973</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="img/img/discs/Queen_Queen_II.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Queen II</h5>
        <p class="card-text">Release Date: 1974</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="img/img/discs/Queen_Sheer_Heart_Attack.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Sheer Heart Attack</h5>
        <p class="card-text">Release Date: 1974.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="img/img/discs/Queen_A_Night_At_The_Opera.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">A Night at the Opera</h5>
        <p class="card-text">Release Date: 1975</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="img/img/discs/Queen_A_Day_at_the_Races.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">A Day at the Races</h5>
        <p class="card-text">Release Date: 1976</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="img/img/discs/Queen_News_Of_The_World.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">News of the World</h5>
        <p class="card-text">Release Date: 1977</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="img/img/discs/Queen_Jazz.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Jazz</h5>
        <p class="card-text">Release Date: 1978</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="img/img/discs/Queen_The_Game.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">The Game</h5>
        <p class="card-text">Release Date: 1978</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="img/img/discs/Queen_Flash_Gordon.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Flash Gordon</h5>
        <p class="card-text">Release Date: 1980</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="img/img/discs/Queen_Hot_Space.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Hot Space</h5>
        <p class="card-text">Release Date: 1982</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="img/img/discs/Queen_The_Works.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">The Works</h5>
        <p class="card-text">Release Date: 1984</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="img/img/discs/Queen_A_Kind_Of_Magic.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">A Kind of Magic</h5>
        <p class="card-text">Release Date: 1986</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="img/img/discs/Queen_The_Miracle.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">The Miracle</h5>
        <p class="card-text">Release Date: 1989</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="img/img/discs/Queen_Innuendo.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Innuendo</h5>
        <p class="card-text">Release Date: 1991</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="img/img/discs/Queen_Made_in_Heaven.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Made in Heaven</h5>
        <p class="card-text">Release Date: 1995</p>
      </div>
    </div>
  </div>
</article>
{% endblock %}