{% extends '_layouts/base.njk' %}

{% block page_title %}Discography{% endblock %}

{% block page_description %}The albumns of Queen{% endblock %}

{% block content %}
<article class="container">
  <h1 class="disc text-center mb-5">Discography</h1>
  <div class="row">
  <div class="card-deck">
  {% for disc in queen.discography %}
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
    <div class="card mb-4">
      <img class="card-img-top" src="img/img/discs/{{ disc.image }}" alt="{{ disc. title}} image">
      <div class="card-body">
        <h5 class="card-title"><a href="{{ disc.spotify }}" target="_blank">{{ disc.title }}</a></h5>
        <p class="card-text">Release Date: {{ disc.year }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>  
  </div>
</article>
{% endblock %}