// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";

@import "jumbotron";

.tab { text-indent:40px }

.card-columns {
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }
  @include media-breakpoint-only(s) {
    column-count: 2;
  }
  @include media-breakpoint-only(m) {
    column-count: 3;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}

h2, h5 {
  font-family: 'Amiri', serif;
  font-weight: bold;
}

h5.members, p, a.dropdown-item{
  font-family: 'Amiri', serif;
  font-size: large;
}

h1, li, p.jumbo{
  font-family: 'Playfair Display', serif;
}

a:link, :visited {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

h1.jumbo {
  padding-top: 10rem;
  font-size: 70px;
}

p.jumbo {
  font-size: 25px;
}

img.members {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  background-color: gainsboro;
}

.early {
  margin: 10px auto 20px;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
  background-color: ghostwhite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1.disc, h1.members, h1.main {
  border-bottom: 5px, black, solid;
  border-top: 5px, black, solid;
  padding-bottom: 3px;
}

h2 {
  text-decoration: underline solid black;
}